include ../admin/index
.content-wrapper
    // Content Header (Page header)
    section.content-header
        h1
            | Home
    // Main content
    section.content
        .row
            .col-xs-12
                // /.box-body
                // /.box
                .box
                    .box-body
                        .callout.callout-success
                            h4 Hallo #{session_store.firstname}
                            p
                                | Selamat datang diaplikasi apotekuas
