include admin/head
.box-body
    .alert.alert-danger.alert-dismissible
        button.close(type='button' data-dismiss='alert' aria-hidden='true') &times;
        h4
            i.icon.fa.fa-ban
            |  Peringatan!
        |                 Anda tidak diizinkan mengakses halaman ini
    form(action='/', method='GET')
        button.btn.btn-block.btn-primary(type='submit') Kembali

